* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    flex: 1;
    font-family: Roboto;
}

/* HEADER / CONTENT-1 */
.header {
    background: url(../images/webbing-background-1.jpeg) no-repeat;
    background-size: cover;
    color: white;
    padding: 0px 150px;
}

.header-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

.header-1 img {
    width: 150px;
}

.header-1 header {
    font-size: 24px;
    color: #f9faf8;
}

.header ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
    font-size: 18px;
    color: #ffffff;
}

.header a {
    text-decoration: none;
    color: white;
}

.content-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 75px;
    padding: 70px 40px;
    margin: 20px 0px;
    background: rgb(255, 255, 255, 0.4);
    border-radius: 20px;
    box-shadow: inset 5px 5px 20px 1px #ffffff;
}

.header-content {
    width: 400px;
}

.header-content h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #003391;
}

.header-content p {
    font-size: 18px;
    color: #e5e7eb;
}

.header-content button  {
    background-color: #3882f6;
    color: white;
    border-style: none;
    padding: 5px 20px;
    border-radius: 5px;
    margin-top: 10px;
}

.content-1 img {
    height: 300px;
    width: 500px;
    box-shadow: 20px 20px 60px 10px black;
}

/* CONTENT 2 */
.content-2 {
    background-color: #030303;
}

.content-2 h3 {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #b10606;
    padding: 30px;
}

.flex {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(255, 255, 255, 0.2);
    border-radius: 15px;
    width: 170px;
    text-align: center;
    padding: 25px;
    margin-bottom: 30px;
    color: white;
}

.box img {
    height: 145px;
    width: 145px;
    border: rgb(168, 24, 24) 3px solid;
    border-radius: 10px;
    margin-bottom: 5px;
}

/* CONTENT-3 */
.content-3 {
    background-color: #e5e7eb;
    padding: 125px 260px 35px;
    box-shadow: inset 0px 50px 20px -20px #030303;
}

.content-3 em {
    font-size: 36px;
    color: #1f2937;
}

.content-3 .author {
    text-align: right;
}

/* CONTENT-4 */
.content-4-container {
    background-color: rgb(1, 17, 167);
    box-shadow: inset -20px 100px 40px -40px #e5e7eb;
}

.content-4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url(../images/webbing-background.jpeg);
    color: white;
    margin: 100px 125px 70px;
    padding: 30px 100px;
    border-radius: 15px;
}

.content-description p {
    color: #e5e7eb;
}

.content-4 button {
    color: white;
    height: 100%;
    padding: 3px 25px;
    border-radius: 7px;
    border: 1px solid white;
    background: none;
}

/* FOOTER */
.footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 20px 0px;
    font-size: 18px;
}